SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ALU_ALUNO]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[ALU_ALUNO](
	[ALU_ID] [int] NOT NULL,
	[nvarchar(200)] [nvarchar](4000) NOT NULL,
	[END_ID] [int] NOT NULL,
 CONSTRAINT [PK_ALU_ALUNO] PRIMARY KEY CLUSTERED 
(
	[ALU_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[END_ENDERECO]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[END_ENDERECO](
	[END_ID] [int] NOT NULL,
	[END_DS_RUA] [nvarchar](4000) NOT NULL,
	[END_DS_BAIRRO] [nvarchar](4000) NOT NULL
) ON [PRIMARY]
END
