SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ALU_ALUNO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ALU_ALUNO](
	[ALU_ID] [int] NOT NULL,
	[nvarchar(200)] [nvarchar](4000) NOT NULL,
	[END_ID] [int] NOT NULL,
 CONSTRAINT [PK_ALU_ALUNO] PRIMARY KEY CLUSTERED 
(
	[ALU_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[END_ENDERECO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[END_ENDERECO](
	[END_ID] [int] NOT NULL,
	[END_DS_RUA] [nvarchar](4000) NOT NULL,
	[END_DS_BAIRRO] [nvarchar](4000) NOT NULL
) ON [PRIMARY]
END
